certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.1
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.42.1
hugchat==0.2.5
idna==3.4
kiwisolver==1.4.5
load-dotenv==0.1.0
matplotlib==3.8.0
numpy==1.26.0
openpyxl==3.1.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.4
xlrd==2.0.1
